<%- include("header"); -%>

<%- include("../success-message") -%>

<div class="row" style="width: 100%;">
  <div class="col-lg-11">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 ">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
      </ol>
    </nav>
  </div>
  <div class="col-lg-1">
    <div class="card-body" style="text-align: end;padding: 0%;margin-top: 1rem;">
      
      <a class="category__link" href="/authUser/dashboard">
        <img class="rounded-circle centered-and-cropped" style="width: 2.5rem; height: 2.5rem;" src="/images/<%= user.imageProfile %>" alt="userImg.jpg" onerror="this.src='/usedImages/defaultProfile.png'">
        <h6 ><%=user.firstName%> <p></p>
      </a>
      
    </div>
</div>
</div>

<div class="row" style="width: 100%;">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10">
      <h2 style="margin-top: 1rem;text-align: center;" class="fw-bolder mb-1">
        Create Your New Post!
      </h2>
  </div>
  
</div>

<div class="container-fluid">
    <form action="/authUser/posts" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label class="additional">Title</label>
          <input class="form-control" type="text" name="title" placeholder="Title" required/>
          <div style="margin-top: 0.5rem;">
            <input class="form-control" type="file" name="myImage" required/>
          </div>
            <div class="removeDropdown" id="Dropdown">
               
                <div style="width: 7.5rem;" class="dropdown text-center ">
                    <button style="border-color: black;" class="btn btn-default dropdown-toggle additional" type="button" data-toggle="dropdown">
                       Select Categories </button>
                       
                    <ul class="dropdown-menu" >
            
                      <%  for(var i=0;i<categories.length;i++){  %> 
                      <div class="">
                         <li><label><input type="checkbox"  value='<%=categories[i].name%>' name="selectedCategory"/> <%=categories[i].name%></label></li>
                        </div>
                        <% } %>
                     
                      </ul>
             </div>
            
      </div>
          </select>
          <label>Content</label>
          <textarea class="form-control tinymce" name="content" id="output" placeholder="Content" ></textarea>
          
            <label class="additional">Audio Input</label>
            <textarea type="text" class="form-control" name="audioText" id="final" cols="30" rows="3"></textarea>
            <div>
              <span id="interim" class="text-secondary"></span>
            </div>
            <img type="button" alt="Start" id="start" src="/usedImages/mic.gif" onclick="changeImage()"/>
            <img style="width: 1.875rem; height: 1.875rem;" type="button" alt="Start" id="stop" src="https://cdn-icons-png.flaticon.com/512/4903/4903963.png"/>
  
        </div>
        <input class="btn btn-info additional" type="submit" name="button" value="Post"/>
      </form>
</div>
<hr>
<div class="row" style="width: 100%; margin: 1rem auto;">
  <div class="col-lg-6">
    <h2 class="fw-bolder mb-1">
      Update Your Posts!
    </h2>
</div>
    <form action="/searchPost" method="get" class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">
          <input class="form-control" name="searchTerm" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
          <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
</div>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    <% posts.forEach(function(post){ %>
      <tr>
        <td><%= post.title.substring(0,20)+".." %></td>
        <td>
          <%- (post.content.substring(0,20)).replace(/<[^>]*>?/gm, '')+"..." %>
          <a href="/posts/<%= post._id %>" >
            Read More
        </a>
        </td>
        <td>
          <img src="/images/<%= post.imagePost %>" alt="" style="width: 9.375rem; height: 6.25rem;">
        </td>
        <td>
          <a href="/posts/edit/<%= post._id %>" class="btn btn-warning btn-sm">Edit</a>
          <form action="/delete" method="POST" onsubmit="return confirm('Do you really want to Delete this post?');">
            <input type="hidden" name="postId" value="<%= post._id %>"/>
            <button type='submit' class="btn btn-danger btn-sm additional">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>

  <nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">

      <% if(searchTerm){ %>
        <% var pageNum=0 %>
      <% for(let j=1;j<=totalPages;j++){%>
        <% if(j==currentPage) {%>
        <% pageNum=j  %>
        <%}}%>


   <%if(currentPage===1){  %>
    <% for(let j=1;j<=(totalPages>3?3:totalPages);j++){%>
      <% if(j==currentPage) {%>
        
      <li class="page-item active" aria-current="page"><a style="text-decoration: none;" class="page-link" href="searchPost?searchTerm=<%=searchTerm%>&page=<%=j%>"><%=j%></a></li>
      <%}else{%>
      <li class="page-item"><a style="text-decoration: none;" class="page-link" href="searchPost?searchTerm=<%=searchTerm%>&page=<%=j%>"> <%=j%> </a></li>
      <%}}%>
    <%  }else if(currentPage===totalPages){  %>
         <%  pageNum=pageNum-1;%>
         <% for(let j=(totalPages>3?pageNum-1:1);j<=(pageNum+1);j++){ %>
          <% if(j==currentPage) {%>
            
          <li class="page-item active" aria-current="page"><a style="text-decoration: none;" class="page-link" href="searchPost?searchTerm=<%=searchTerm%>&page=<%=j%>"><%=j%></a></li>
          <%}else{%>
          <li class="page-item"><a style="text-decoration: none;" class="page-link" href="searchPost?searchTerm=<%=searchTerm%>&page=<%=j%>"> <%=j%> </a></li>
          <%}%>
         <%}}else{ %>
      <% for(let j=(pageNum-1);j<=(pageNum+1);j++){%>
        <% if(j==currentPage) {%>
          
        <li class="page-item active" aria-current="page"><a style="text-decoration: none;" class="page-link" href="searchPost?searchTerm=<%=searchTerm%>&page=<%=j%>"><%=j%></a></li>
        <%}else{%>
        <li class="page-item"><a style="text-decoration: none;" class="page-link" href="searchPost?searchTerm=<%=searchTerm%>&page=<%=j%>"> <%=j%> </a></li>
        <%}}}%>
      <%}else{%>
      <% var pageNum=0 %>
      <% for(let j=1;j<=totalPages;j++){%>
        <% if(j==currentPage) {%>
        <% pageNum=j  %>
        <%}}%>


   <%if(currentPage===1){  %>
    <% for(let j=1;j<=(totalPages>3?3:totalPages);j++){%>
      <% if(j==currentPage) {%>
        
      <li class="page-item active" aria-current="page"><a style="text-decoration: none;" class="page-link" href="?page=<%=j%>"><%=j%></a></li>
      <%}else{%>
      <li class="page-item"><a style="text-decoration: none;" class="page-link" href="?page=<%=j%>"> <%=j%> </a></li>
      <%}}%>
    <%  }else if(currentPage===totalPages){  %>
         <%  pageNum=pageNum-1;%>
         <% for(let j=(totalPages>3?pageNum-1:1);j<=(pageNum+1);j++){ %>
          <% if(j==currentPage) {%>
            
          <li class="page-item active" aria-current="page"><a style="text-decoration: none;" class="page-link" href="?page=<%=j%>"><%=j%></a></li>
          <%}else{%>
          <li class="page-item"><a style="text-decoration: none;" class="page-link" href="?page=<%=j%>"> <%=j%> </a></li>
          <%}%>
         <%}}else{ %>
      <% for(let j=(pageNum-1);j<=(pageNum+1);j++){%>
        <% if(j==currentPage) {%>
          
        <li class="page-item active" aria-current="page"><a style="text-decoration: none;" class="page-link" href="?page=<%=j%>"><%=j%></a></li>
        <%}else{%>
        <li class="page-item"><a style="text-decoration: none;" class="page-link" href="?page=<%=j%>"> <%=j%> </a></li>
        <%}}}}%>
    </ul>
</nav>
  

  <script type="text/javascript" src="/tinymice/js/jquery.min.js"></script>
		<script type="text/javascript" src="/tinymice/plugin/tinymce/tinymce.min.js"></script>
		<script type="text/javascript" src="/tinymice/plugin/tinymce/init-tinymce.js"></script>
    <script src="/authUser/speechRecognition.js"></script>
    
<%- include("footer"); -%>
